<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.res.ticketplease">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TicketPlease">
        <activity android:name=".Views.NovoEvento"
            android:parentActivityName=".Views.HomeOrg"></activity>
        <activity
            android:name=".Views.RecuperarSenha"
            android:parentActivityName=".Views.MainActivity" />
        <activity
            android:name=".Views.CadPart"
            android:parentActivityName=".Views.LoginParticipantes" />
        <activity
            android:name=".Views.CadOrg"
            android:parentActivityName=".Views.LoginOrganizadores" />
        <activity android:name=".Views.HomeOrg" />
        <activity android:name=".Views.HomePart" />
        <activity
            android:name=".Views.LoginOrganizadores"
            android:parentActivityName=".Views.MainActivity" />
        <activity
            android:name=".Views.LoginParticipantes"
            android:parentActivityName=".Views.MainActivity" />
        <activity android:name=".Views.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>